{% extends "layout.html" %}

{% block title %}
    Expenses
{% endblock %}

{% block main %}
    <form action="/expenses" method="post" name="form">
        <div class="form-group">
            <label for="amount" class="required">Amount($):</label>
            <input type="number" min="1" step="any" name="value" id="amount" class="form-control" oninput="checkform()">
        </div>
        <div class="form-group">
            <label for="type" class="required">Type of expense:</label>
            <select name="type" class="form-control" id="type">
                <option value="Food">Food</option>
                <option value="Transportation">Transportation</option>
                <option value="Housing">Housing</option>
                <option value="Utilities">Utilities</option>
                <option value="Insurance">Insurance</option>
                <option value="Recreation">Recreation</option>
                <option value="Investments">Investments</option>
                <option value="Micellaneous">Micellaneous</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date" class="required">Date:</label>
            <input type="date" name="date" id="date" class="form-control" onchange="checkform()">
        </div>
        <div class="form-group">
            <label for="note">Note:</label>
            <input type="text" name="note" id="note" class="form-control" onkeyup="checkform()">
        </div>
        <button class="btn btn-primary" type="submit" id="submitbutton" disabled>Submit</button>
    </form>

    <script>
    function checkform()
    {
        var inputs = document.forms["form"].elements;
        var cansubmit = true;

        for (var i = 0; i < (inputs.length)-2; i++) {
            if (inputs[i].value == "")
            {
                cansubmit = false;
            }
        }

        if (cansubmit)
        {
            document.querySelector('#submitbutton').disabled = false;
        }
        else
        {
            document.querySelector('#submitbutton').disabled = true;
        }
    }
    </script>
{% endblock %}